<div class="min-h-screen bg-slate-950 flex flex-col font-sans text-white">

  <nav class="fixed top-0 left-0 w-full p-4 flex items-center justify-between border-b border-slate-900 bg-slate-950/80 backdrop-blur-sm z-50">
    <div class="flex items-center gap-2 cursor-pointer" (click)="currentState = 'JOIN'">
      <h1 class="text-xl font-black tracking-tighter">
        Jesty<span class="text-purple-300">Quiz</span>
      </h1>
    </div>
    <button
      (click)="onHostLogin()"
      class="px-5 py-2 text-sm font-bold text-slate-300 border border-slate-800 rounded-full hover:text-white hover:border-slate-600 hover:bg-slate-900 transition-all"
    >
      Host Login
    </button>
  </nav>

  <main class="flex-1 w-full flex flex-col items-center justify-center p-4">

    @if (currentState === 'JOIN') {
      <app-join-game (pinEntered)="onPinEntered($event)"></app-join-game>
    }

    @if (currentState === 'NAME') {
      <app-enter-name [gamePin]="gamePin" (nameEntered)="onNameEntered($event)"></app-enter-name>
    }

    @if (currentState === 'LOBBY') {
      <app-game-lobby
        [username]="username"
        [pin]="gamePin"
        (questionAsked)="onQuestitonAsked($event)">
      </app-game-lobby>
    }

    @if (currentState === 'QUESTION') {
      <h2>GAME</h2>
    }

  </main>

</div>
