@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default to dark mode immediately */
body { @apply bg-slate-950 text-white; }/* You can add global styles to this file, and also import other style files */
